<html>
<body>
<h1>检测结果</h1>

<table border="1">
    <tr>
        <td>图片1：</td>
        <td>图片2：</td>
    </tr>
    <tr>
        <td><img src="{{ url_for('static', filename = filename_1) }}" style="max-height: 480px; max-width: 640px;"></td>
        <td><img src="{{ url_for('static', filename = filename_2) }}" style="max-height: 480px; max-width: 640px;"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<p>
    {{ message }}
    <a href="/">返回</a>
</p>
</body>
</html>