<html>
<body>
<form action="http://47.101.196.204:6006/uploader" method="POST" enctype="multipart/form-data">
    <h1>验证两张图片是否同一个人。</h1>
    <h2>
        <red>注意：本网站"阅后即焚"，不收集任务图片。</red>
    </h2>
    <table border="1">
        <tr>
            <td>图片1：</td>
            <td>图片2：</td>
        </tr>
        <tr>
            <td><input type="file" name="file1"/></td>
            <td><input type="file" name="file2"/></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>